* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Manrope;
  /* background-color: gray; */
  transition: 1s ease;
}
.header {
  width: 90%;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  /* background-color: aqua; */
}
.navlinks {
  display: flex;
  gap: 87px;
  position: relative;
}
.mobile-navlinks {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 85%;
  top: 65px;
  margin: 0 auto;
  height: fit-content;
  gap: 20%;
  z-index: 1;
  background-color: #0e204e;
  padding: 40px 0 0;
  border-radius: 3px;
}
.navlinks a {
  color: #232323;
  font-family: Manrope;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.navlinks a::after,
.footer-form form button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #0e204e;
  transition: width 0.7s ease;
}
.navlinks a:hover::after,
.footer-form form button:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
}

.get-in-touch:hover {
  background-color: #fff;
}
.get-in-touch a {
  background-color: #0e204e;
  text-decoration: none;
  color: #fff;
  padding: 9px 20px;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  transition: 0.5s ease;
}
.get-in-touch a:hover,
.agent-text a:hover,
.form-section form a:hover {
  background-color: transparent;
  color: #0e204e;
  border: 0.7px solid #030033;
}

/* Hero Section */

.hero-section {
  width: 95%;
  margin-top: 0;
  margin-bottom: 150px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: Manrope;
  transition: 1s ease;
  margin-left: auto;
  position: relative;
}
.hero-text {
  width: 41%;
  position: absolute;
  background-color: #0e204e;
  padding: 40px 14px 30px 43px;
  transition: 0.7s ease;
  z-index: 1;
}
.hero-text h1 {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}
.hero-text p {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.mobile-get-in-touch {
  display: none;
}
.hero-image {
  width: 85%;
  margin-left: auto;
  transition: 0.7s ease;
  position: relative;
  padding: 0;
}
.hero-image img {
  width: 100%;
  transition: 0.7s ease;
}
.mobile-hero-image {
  display: none;
}

/* About Section */

.about {
  width: 85%;
  margin: 0 auto 100px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
  transition: 0.7s ease;
}
.about-text {
  width: 20%;
  transition: 0.7s ease;
}
.about-text h1 {
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-image {
  display: flex;
  width: 80%;
  transition: 0.7s ease;
  position: relative;
}
.about-image .image {
  width: 60%;
  /* height: 100%; */
}
.about-image .image img {
  width: 100%;
  height: 100%;
}
.about-image .text {
  width: 40%;
  display: flex;
  align-items: center;
  background-color: #0e204e;
  padding: 0 43px;
}
.about-image .text p {
  color: #fff;
  font-family: Manrope;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.about-image .text .left-arrow,
.about-image .text .right-arrow {
  display: none;
}

/* Choose Section */

.choose-section {
  background-image: url(./images/why_choose_pineapple_island_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 150px;
  transition: 1s ease;
}
.choose {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0 0;
  gap: 50px;
  display: flex;
  align-items: center;
  transition: 1s ease;
}
.choose-text {
  width: 10%;
  transition: 1s ease;
}
.choose-text h1 {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 3.5vw;
  width: 100%;
  font-weight: 700;
  transition: 1s ease;
}

.choose-image-text {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  transition: 1s ease;
}
.choose-image-text .text {
  width: 32%;
  background-color: #fff;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.choose-image-text .text p {
  color: #0e204e;
  font-family: Manrope;
  font-size: 1.35vw;
  font-style: normal;
  font-weight: 400;
  transition: 1s ease;
  line-height: 170%;
}
.choose-image-text .image {
  width: 60%;
}
.choose-image-text .image img {
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

/* Offers Section */

.offer-section {
  width: 85%;
  margin: 0 auto 150px;
  transition: 1s ease;
}
.offer-text {
  text-align: center;
  margin-bottom: 90px;
}
.offer-text h3 {
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 1s ease;
}
.offer1 {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}
.offer1-image {
  display: flex;
  align-items: center;
  width: 50%;
  /* position: relative; */
}
.offer1-img {
  width: 75%;
  height: 70%;
  z-index: 1;
  transition: 1s ease;
}
.offer1-img2 {
  width: 60%;
  margin-left: -180px;
  transition: 1s ease;
}

.offer1-icon {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
  text-align: center;
}
.offer1-icon img {
  width: 9vw;
  height: 9vh;
  transition: 1s ease;
}

.offer1-icon h5 {
  color: #263238;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  transition: 1s ease;
}
.mobile-icon {
  display: none;
}

.offer2 {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}
.offer2-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  /* position: relative; */
}
.offer2-img {
  width: 75%;
  height: 70%;
  z-index: 1;
  transition: 1s ease;
}

.offer2-img2 {
  width: 60%;
  margin-right: -180px;
  transition: 1s ease;
}

.offer2-icon {
  width: 50%;
  gap: 30px;
  padding: 0;
  display: flex;
  text-align: center;
  transition: 1s ease;
}
.offer2-icon img {
  width: 9vw;
  margin: 0 0 40px 0;
  height: 9vh;
  transition: 1s ease;
}
.icon img {
  margin-bottom: 40px;
  width: 80%;
  transition: 1s ease;
}

.offer2-icon h5 {
  color: #263238;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 0;
  letter-spacing: 0.5px;
  text-align: center;
  margin-right: 40px;
  transition: 1s ease;
}

/* Galleries Section */

.gallery-section {
  width: 95%;
  margin: 0 auto 200px;
  transition: 1s ease;
}

.gallery-text {
  text-align: center;
  margin-bottom: 50px;
}
.gallery-text h2 {
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 6vw;
  font-weight: 700;
  margin-bottom: 20px;
  transition: 1s ease;
}
.gallery-text h3 {
  display: none;
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 6vw;
  font-weight: 700;
  margin-bottom: 20px;
  transition: 1s ease;
}
.gallery-text p {
  color: #263238;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  width: 63%;
  margin: 0 auto;
}
.galleries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 15px;
  /* max-width: 1000px; */
  transition: 1s ease;
}
.galleries img {
  width: 100%;
  height: 100%;
  transition: 1s ease;
}
.photo09 {
  display: block;
  transition: 1s ease;
}

.galleries .mobile-photo-01 {
  width: 100%;
  display: none;
  transition: 1s ease;
}
.galleries .mobile-photo-02 {
  width: 100%;
  display: none;
  transition: 1s ease;
}
.galleries .mobile-photo-03 {
  display: none;
  transition: 1s ease;
}
.galleries .mobile-photo-04 {
  display: none;
}
.galleries .mobile-photo-05 {
  display: none;
}
.galleries .photo004 {
  display: none;
}
.gallery-section .mobile-photo-06 {
  margin-top: 15px;
  display: none;
}
.galleries span {
  display: none;
  transition: 1s ease;
}

/* Features Section */

.feature-section {
  width: 70%;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  transition: 1s ease;
}

.feature-image {
  display: flex;
  align-items: center;
  width: 40%;
}
.feature-image .img1 {
  width: 100%;
}
.feature-image .img2 {
  width: 30%;
  height: 60%;
}
.feature-text h2 {
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 3.4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.features {
  margin-top: 15px;
}

.feature-P {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  background: rgba(14, 63, 51, 0.2);
  padding: 10px;
  margin-top: 4px;
}
.feature-Ps {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 10px;
  margin-top: 4px;
}
.feature-P p {
  color: #030033;
  font-family: Gotham;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px;
}

/* Agent section */

.agent-section {
  width: 70%;
  margin: 0 auto 70px;
  display: flex;
  align-items: center;
  /* background-color: #030033; */
  transition: 1s ease;
}
.agent-text {
  width: 40%;
}
.agent-text h2 {
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 20px;
}
.agent-text p {
  color: #263238;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 42px;
}
.agent-text a {
  text-decoration: none;
  color: #fff;
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #0e204e;
  padding: 10px 50px;
  transition: 0.5s ease;
}

.agent-image {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: auto;
  justify-content: flex-end;
}
.agent-image .img2 {
  width: 60%;
  margin-right: -90px;
}
.agent-image .img1 {
  width: 100%;
  height: 100%;
}

/* Form Section */

.form-section {
  width: 60%;
  margin: 0 auto 150px;
}

.form-text {
  text-align: center;
  margin-bottom: 50px;
}
.form-text h2 {
  color: #0e204e;
  font-family: "Playfair Display";
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 20px;
}
.form-text p {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
}
.form-section form {
  width: 100%;
  text-align: center;
}
.form-section form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 33px;
  border-radius: none;
  outline: 2px #030033;
  font-family: Manrope;
  font-size: 16px;
  transition: 1s ease;
}
.form-section form .message {
  padding-bottom: 100px;
  font-family: Manrope;
}
.form-section form input::placeholder {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-section form a {
  background-color: #030033;
  padding: 10px 40px;
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: 1s ease;
}

/* Footer Section */

footer {
  background-image: url(./images/Footer_Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  transition: 0.7s ease;
  /* margin-bottom: 200px; */
}
.footer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 90px;
  /* background-color: aqua; */
  transition: 1s ease;
}
.footer-text {
  width: 60%;
}
.footer-text h4 {
  color: #fff;
  font-family: Manrope;
  font-size: 3.5vw;
  font-weight: 500;
  width: 40%;
  margin-bottom: 24px;
  transition: 0.7s ease;
}
.footer-text p {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.7s ease;
}
.footer-form {
  margin-top: 50px;
  margin-left: auto;
  width: 60%;
  transition: 1s ease;
}
.footer-form h5 {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  transition: 0.7s ease;
}
.footer-form p {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 20px;
  transition: 1s ease;
}
.footer-form form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  /* max-width: 100%; */
  transition: 0.7s ease;
}
.footer-form form input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.7s ease;
}
.footer-form form input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-family: Gotham;
  font-size: 15px;
  font-weight: 300;
}
.footer-form form button {
  background-color: none;
  padding: 10px 16px;
  color: #0e204e;
  font-family: Gotham;
  font-size: 15px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  position: relative;
  /* margin-bottom: 10px; */
}
.form-section form a:hover {
  background-color: transparent;
  color: #0e204e;
  border: 0.7px solid #030033;
}

.mobile-footer {
  padding: 30px 0;
  background-color: #0e204e;
  display: none;
  transition: 0.6s ease;
}
.mobile-footer h3 {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.mobile-footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.mobile-footer .link p {
  color: #fff;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 100;
}

/* Mobile Reponsive */

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 20px;
  }
  .navlinks {
    gap: 42px;
  }
  .navlinks a {
    font-size: 18px;
  }
  .get-in-touch a {
    font-size: 16px;
  }

  .hero-text {
    width: 45%;
  }
  .hero-image {
    width: 78%;
  }

  .about {
    width: 95%;
  }
  .about-text {
    width: 20%;
  }
  .about-image .text {
    padding: 20px 34px 9px;
  }

  .choose {
    width: 95%;
  }
  .choose-image-text .text {
    padding: 0 40px;
  }
  .last-photo {
    display: none;
  }

  .galleries .photo09 {
    display: none;
  }

  .feature-section {
    display: none;
  }
  .feature-P p {
    font-size: 1.45vw;
  }

  .agent-section {
    width: 85%;
  }

  .form-section {
    width: 80%;
  }
  .footer {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }
  .mobile-navlinks {
    display: none;
  }
  .mobile-navlinks a {
    margin-bottom: 40px;
    color: #fff;
    font-family: Manrope;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }
  .hamburger {
    display: block;
  }
  .get-in-touch,
  .hero-image {
    display: none;
  }

  .hero-section {
    margin: 0 auto 56px;
  }
  .hero-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
    background: url(./images/mobile-hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 50% 0px;
    /* padding-top: 90%; */
    z-index: -1;
  }
  .hero-text h1 {
    font-size: 30px;
    margin-bottom: 24px;
  }

  .mobile-hero-image {
    display: block;
    width: 100%;
    z-index: -2;
    /* height: 540px; */
  }
  .mobile-hero-image img {
    width: 100%;
    height: 100%;
  }
  .mobile-get-in-touch {
    margin-top: 30px;
    display: block;
  }
  .mobile-get-in-touch a {
    text-decoration: none;
    color: #0e204e;
    background-color: #fff;
    padding: 9px 20px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transition: 0.5s ease;
  }

  .about {
    flex-direction: column;
    margin-bottom: 56px;
    gap: 0;
  }
  .about-text {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }
  .about-image .image {
    width: 100%;
  }
  .about-image .text {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(81, 101, 127, 0.572);
    text-align: center;
    padding: 5px 8px;
  }
  .about-image .text p {
    font-size: 3.2vw;
    margin: 0 20px;
  }
  .about-image .text .left-arrow,
  .about-image .text .right-arrow {
    display: block;
  }

  .choose-section {
    background-image: none;
  }
  .choose {
    flex-direction: column;
    gap: 0;
    padding-top: 0;
  }
  .choose-text {
    width: 100%;
    text-align: center;
  }
  .choose-text h1 {
    color: #0e204e;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .choose-image-text {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .choose-image-text .text {
    width: 100%;
    background-color: transparent;
  }
  .choose-image-text .text p {
    font-size: 18px;
    font-weight: 300;
    font-family: Lato;
    color: #0e204e;
    text-align: center;
    margin-bottom: 16px;
  }

  .choose-image-text .image {
    width: 100%;
  }

  .offer-section {
    margin-bottom: 56px;
  }
  .offer-text {
    margin-bottom: 24px;
  }
  .mobile-icon {
    display: flex;
    flex-direction: column;
  }
  .mobile-icon img {
    width: 90%;
    margin: 0 auto;
  }
  .mobile-icon .icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    background-color: #030033;
    width: 80%;
    margin: -15% auto 0;
    text-align: center;
    gap: 22px;
    padding: 50px 20px;
  }
  .icn img {
    width: 9vw;
    margin-bottom: 20px;
  }
  .icn p {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
  }

  .offer-text h3 span {
    display: none;
  }
  .offer1-img2,
  .offer2-image,
  .offer1-img {
    display: none;
  }

  .offer1-icon,
  .offer2-icon {
    display: none;
  }

  .gallery-section {
    margin-bottom: 56px;
  }
  .gallery-text {
    margin-bottom: 24px;
  }
  .gallery-text h3 {
    display: block;
    margin-bottom: 16px;
  }
  .galleries .photo01,
  .galleries .photo04,
  .galleries .photo05,
  .galleries .photo06,
  .galleries .photo07,
  .galleries .photo08,
  .gallery-text h2 {
    display: none;
    width: 100%;
  }
  .galleries .mobile-photo-01 {
    display: block;
    /* width: 100%; */
  }
  .galleries .mobile-photo-02 {
    display: block;
    width: 100%;
  }
  .galleries .mobile-photo-03 {
    display: block;
    width: 100%;
  }
  .galleries .mobile-photo-04 {
    display: block;
    width: 100%;
  }
  .galleries .mobile-photo-05 {
    display: block;
    width: 100%;
  }
  .galleries .photo004 {
    display: block;
    width: 100%;
  }
  .gallery-section .mobile-photo-06 {
    display: block;
    width: 100%;
  }
  .galleries .photo-container {
    display: flex;
  }
  .galleries .photo-container .photo003 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .galleries .photo-container .photo003 {
    height: 100%;
  }

  .feature-section {
    display: none;
  }

  .agent-section {
    width: 100%;
    margin-bottom: 56px;
  }
  .agent-text {
    width: 100%;
    background-color: #0e204e;
    text-align: center;
    padding: 40px 30px;
  }
  .agent-text h2 {
    color: #fff;
  }
  .agent-text p {
    color: #fff;
    font-size: 16px;
  }
  .agent-text a {
    color: #0e204e;
    font-family: lato;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
  }
  .agent-image {
    display: none;
  }

  .form-section {
    margin-bottom: 56px;
  }

  footer {
    display: none;
  }
  .mobile-footer {
    display: block;
    transition: 1s ease;
    text-align: center;
  }
}
